{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="{% static 'js/insumos.js' %}"></script>

    <style>
      .navbar-nav .nav-link {
        font-size: 0.8rem; /* Reduce aún más el tamaño de la fuente */
        padding: 0.4rem 0.6rem; /* Ajusta más el espaciado */
      }
      
      .navbar-brand {
        font-size: 1rem; /* Reduce más el tamaño del logo/marca */
      }
      
      .navbar-toggler {
        font-size: 0.7rem; /* Ajusta más el tamaño del botón de colapso */
      }
      
      .dropdown-menu .dropdown-item {
        font-size: 0.75rem; /* Reduce más el tamaño de los elementos del dropdown */
      }
      
      .badge {
        font-size: 0.65rem; /* Ajusta más el tamaño de las insignias */
      }
      
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
      }
      
      main {
        flex: 1;
      }
      
      .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #c9a66b;
        color: black;
        text-align: center;
        padding: 1rem 0;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">DON GALLETITA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
              {% if user.rol == 'admin' %}
                <!-- Menú para administradores -->

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="operacionesDropdown" role="button" data-bs-toggle="dropdown"><i class="fas fa-cogs"></i> Operaciones</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_proveedores' %}">Proveedores</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_usuarios' %}">Usuarios</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_clientes' %}">Clientes</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_insumo' %}">Insumos</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_compras' %}">Compra de materia prima</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_ventas' %}">Ventas</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="produccionDropdown" role="button" data-bs-toggle="dropdown"><i class="fas fa-industry"></i> Producción</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_productos' %}">Productos</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_receta' %}">Recetario</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'lista_produccion' %}">Producción</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'corte_ventas_diario' %}"><i class="fas fa-chart-line"></i> Corte Ventas</a>
                </li>
                <!-- Dropdown para Dashboard -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dashboardDropdown" role="button" data-bs-toggle="dropdown"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{% url 'dashboard_presentaciones_alertas' %}">Presentaciones y Alertas</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'dashboard_metricas_ventas' %}">Metricas de Ventas</a>
                    </li>
                  </ul>
                </li>
              {% elif user.rol == 'cliente' %}
                <!-- Menú para clientes -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'catalogo' %}"><i class="fas fa-store"></i> Catálogo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'ver_carrito' %}">
                    <i class="fa-solid fa-cart-shopping"></i> Carrito{% if request.session.carrito %}
                      <span class="badge bg-danger">{{ request.session.carrito|length }}</span>
                    {% endif %}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'historial_compras' %}"><i class="fas fa-store"></i> Mis Compras</a>
                </li>
                
              {% endif %}
            {% else %}
              <!-- Menú para usuarios no autenticados -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'catalogo' %}"><i class="fas fa-store"></i> Catálogo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registro_cliente' %}"><i class="fas fa-user-plus"></i> Registrarse</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
              </li>
            {% endif %}
          </ul>

          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"><i class="fas fa-user"></i> {{ user.username }}</a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="{% url 'perfil_cliente' %}">Mi Perfil</a>
                  </li>
                  <li>
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                    </form>
                  </li>
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav><br /><br />

    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <main class="container mt-4">
      {% block content %}

      {% endblock %}
    </main>

    <footer class="footer text-white text-center py-3 mt-4">
      <p>&copy; 2025 Don Galletita. Todos los derechos reservados.</p>
    </footer>

    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block scripts %}

    {% endblock %}
  </body>
</html>
