{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/receta.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="{% static 'js/insumos.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">DON GALLETITA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>

            {% if user.is_authenticated %}
              {% if user.groups.filter(name__in=['Empleado', 'Administrador']).exists %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_proveedores' %}">Proveedores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_clientes' %}">Clientes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_insumo' %}">Insumos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_compras' %}">Compra de materia prima</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_ventas' %}">Ventas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'corte_ventas_diario' %}">Corte de Ventas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_receta' %}">Recetario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_produccion' %}">Producción</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
                </li>
              {% endif %}

              {% if user.groups.filter(name='Administrador').exists %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'lista_usuarios' %}">Usuarios</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {# Mostrar mensajes #}
    {% if messages %}
      <div class="container mt-3">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer class="footer">
      <p>&copy; 2025 Don Galletita. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const toggler = document.querySelector('.navbar-toggler')
        const navbar = document.querySelector('#navbarNav')
      
        toggler.addEventListener('click', function () {
          navbar.classList.toggle('show')
        })
      })
    </script>

    {% block scripts %}

    {% endblock %}
  </body>
</html>
