{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <h1>{{ titulo }}</h1>
    <p>Fecha actual: {{ fecha_actual }}</p>
    
    <a href="{% url 'crear_producto' %}" class="btn btn-primary">Registrar nuevo producto</a>

    {% if productos_por_caducar %}
      <div id="alerta-caducidad" class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        <strong>¡Atención!</strong> Los siguientes lotes caducan pronto:
        <ul>
          {% for producto, datos in productos_por_caducar.items %}
            <li>
              {{ producto.nombre }} - 
              {{ datos.cantidad }} piezas - 
              Caduca: {{ datos.fecha_caducidad|date:"d/m/Y" }}
            </li>
          {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}


    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Unidad de Medida</th>
          <th>Cantidad Disponible</th>
          <th>Precio Unitario</th>
          <th>Peso por Unidad</th>
          <th>Próxima Caducidad</th>
          <th>Acciones</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.get_unidad_medida_display }}</td>
            <td>{{ producto.cantidad_disponible }}</td>
            <td>{{ producto.precio_unitario }}</td>
            <td>{{ producto.peso_unidad }}</td>
            <td>
              {% if producto.fecha_caducidad_proxima %}
                {{ producto.fecha_caducidad_proxima|date:"d/m/Y" }}
                {% with cantidad=producto.cantidad_por_caducar %}
                  {% if cantidad > 0 %}
                    <br><small>({{ cantidad }} pz por caducar)</small>
                  {% endif %}
                {% endwith %}
              {% else %}
                Sin lotes activos
              {% endif %}
            </td>
            <td>
              {% if producto.imagen_producto %}
                  <img src="{{ producto.imagen_producto.url }}" alt="{{ producto.nombre }}" style="max-height: 50px;">
              {% else %}
                  Sin imagen
              {% endif %}
            <td>
              <a href="{% url 'editar_producto' producto.producto_id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'eliminar_producto' producto.producto_id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="8" class="text-center">No hay productos registrados.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
