{% extends 'base.html' %}

{% block title %}Detalle del Cliente{% endblock %}

{% block content %}
    <h1>Detalle del Cliente</h1>
    <div class="cliente-detail">
        <p><strong>Nombre:</strong> {{ cliente.nombre_cliente }}</p>
        <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
        <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
        <p><strong>Fecha de Registro:</strong> {{ cliente.fecha_registro }}</p>
    </div>
   <center> <a href="{% url 'cliente_list' %}" class="button">Volver a la lista</a></center>
{% endblock %}