{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Completa tu registro</h1>
    <p>Bienvenido, {{ usuario.nombre_usuario }}. Por favor, completa tu información personal.</p>
    <p>
      <strong>Nombre de Usuario:</strong> {{ usuario.nombre_usuario }}
    </p>
    <p>
      <strong>ID de Usuario:</strong> {{ usuario.usuario_id }}
    </p>
    <form method="post">
      {% csrf_token %}
      <!-- Aquí se agregarán los campos necesarios para completar el registro -->
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
{% endblock %}
