{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/login_styles.css' %}" />
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form method="POST">
        {% csrf_token %}
        <label for="chk" aria-hidden="true">Registro</label>

        {{ form.nombre_usuario }}
        {{ form.contrasenia }}
        {{ form.rol }}
        
        <!-- Se agrega el campo oculto para el estatus -->
        <input type="hidden" name="estatus_user" value="1" />

        <button type="submit">Registro</button>
      </form>

      <!-- Mostrar errores -->
      {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}