{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card" style="max-width: 100%; margin: auto; border: 1px solid #D4A373; border-radius: 10px; padding: 20px; background-color: #FFF8DC;">
      <div class="card-header text-center" style="background-color: #D4A373; font-size: 28px; font-weight: bold; color: #FFFFFF;">Registrar Nuevo Usuario</div>
      <div class="card-body" style="padding: 40px;">
        {% if form.errors %}
          <div class="alert alert-danger">
            <ul>
              {% for field, errors in form.errors.items %}
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success me-2" style="background-color: #8B5E3C; color: #FFFFFF; border: none;">Registrar</button>
            <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary" style="background-color: #C9A66B; color: #FFFFFF; border: none;">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Validación para el campo Teléfono
      const telefonoInput = document.querySelector('input[name="telefono"]')
      if (telefonoInput) {
        telefonoInput.setAttribute('type', 'tel')
        telefonoInput.setAttribute('pattern', '\\d*')
        telefonoInput.setAttribute('title', 'Solo se permiten números.')
      }
    
      // Validación para los campos de texto (Nombre, Apellido Paterno, Apellido Materno)
      const textInputs = document.querySelectorAll('input[name="nombre"], input[name="apellido_paterno"], input[name="apellido_materno"]')
      textInputs.forEach((input) => {
        input.setAttribute('pattern', '[a-zA-ZáéíóúÁÉÍÓÚñÑ\\s]*')
        input.setAttribute('title', 'Solo se permiten letras.')
      })
    
      // Validación para la contraseña
      const passwordInput = document.querySelector('input[name="password"]')
      if (passwordInput) {
        passwordInput.setAttribute('pattern', '(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[!"#$%&/()=?¡¿])[A-Za-z\\d!"#$%&/()=?¡¿]{8,}')
        passwordInput.setAttribute('title', 'La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un carácter especial (!"#$%&/()=?¡¿).')
      }
    })
  </script>
{% endblock %}
