{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Agregar Detalle de Venta</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Agregar Detalle</button>
    </form>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const productoSelect = document.querySelector('select[name="producto"]')
      const precioInput = document.querySelector('input[name="precio_unitario"]')
    
      productoSelect.addEventListener('change', function () {
        const productoId = this.value
        if (productoId) {
          const url = `{% url 'obtener_precio_producto' producto_id=0 %}`.replace('0', productoId)
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              if (data.precio) {
                precioInput.value = data.precio
              } else {
                alert('Error: ' + data.error)
              }
            })
            .catch((error) => console.error('Error al obtener el precio:', error))
        }
      })
    })
  </script>
{% endblock %}
