{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1 class="text-center">Inventario de Insumos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th >Nombre</th>
                <th>Unidad de Medida</th>
                <th>Cantidad Disponible</th>
                <th><a href="{% url "crear_insumo" %}">Nuevo Insumo</a></th>
            </tr>
        </thead>
        <tbody>
            {% for item in insumos %}
                <tr>
                    <td>{{ item.nombre_insumo }}</td>
                    <td>{{ item.unidad_medida }}</td>
                    <td>{{ item.cantidad_disponible }}</td>
                    <td>
                        <a href="{% url 'editar_insumo' item.id %}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
