{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="headerline-1">Lista de Usuarios</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="headers">ID</th>
          <th class="headers">Nombre de Usuario</th>
          <th class="headers">Rol</th>
          <th class="headers">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
          <tr>
            <td class="table-content">{{ usuario.usuario_id }}</td>
            <td class="table-content">{{ usuario.nombre_usuario }}</td>
            <td class="table-content">{{ usuario.rol }}</td>
            <td class="table-content">
              <a href="{% url 'editar_usuario' usuario.usuario_id %}" class="btn btn-secondary">Editar</a>
              <a href="{% url 'eliminar_usuario' usuario.usuario_id %}" class="btn btn-light">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
