/* Estilos específicos para cliente_detail.html */
.cliente-detail {
    background-color: #DCCFB2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cliente-detail p {
    margin: 10px 0;
}