{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Lista de Compras</h1>
    <div class="mb-3">
        <a href="{% url 'crear_compra' %}" class="btn btn-primary">Nueva Compra</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Proveedor</th>
                <th>Fecha de Compra</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in lista %}
            <tr>
                <td>{{ compra.compra_id }}</td>
                <td>{{ compra.proveedor.nombre }}</td>
                <td>{{ compra.fecha_compra|date:"Y-m-d H:i" }}</td>
                <td>
                    <a href="{% url 'ver_detalles' compra.compra_id %}" class="btn btn-info btn-sm">Ver Detalles</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}