{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h1 class="headerline-1">Lista de Proveedores</h1>
    <table class="table">
      <thead>
        <tr>
          <th class="headers">ID</th>
          <th class="headers">Nombre</th>
          <th class="headers">Teléfono</th>
          <th class="headers">Dirección</th>
          <th class="headers">Día de Entrega</th>
          <th class="headers">
            <a href="{% url 'crear_proveedor' %}" class="btn btn-primary">Nuevo Proveedor</a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for item in lista %}
          <tr>
            <td class="table-content">{{ item.proveedor_id }}</td>
            <td class="table-content">{{ item.nombre }}</td>
            <td class="table-content">{{ item.telefono }}</td>
            <td class="table-content">{{ item.direccion }}</td>
            <td class="table-content">{{ item.dia_entrega }}</td>
            <td class="table-content">
              <a href="{% url 'editar_proveedor' item.proveedor_id %}" class="btn btn-secondary">Editar</a>
              <a href="{% url 'eliminar_proveedor' item.proveedor_id %}" class="btn btn-light">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
